@font-face {
  font-family: "Boheme-Floral";
  src: local('Boheme-Floral'), url('../assets/fonts/Boheme-Floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Southland";
  src: local('Boheme-Southland'), url('../assets/fonts/Southland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}