@font-face {
  font-family: "Boheme-Floral";
  src: local('Boheme-Floral'), url('../assets/fonts/Boheme-Floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Southland";
  src: local('Boheme-Southland'), url('../assets/fonts/Southland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gistesy";
  src: local('Gistesy'), url('../assets/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EyesomeScript";
  src: local('Eyesome Script'), url('../assets/fonts/Eyesome Script.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: local('FSP DEMO - The Seasons'), url('../assets/fonts/The-Seasons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calistoga";
  src: local('Calistoga Regular'), url('../assets/fonts/Calistoga-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Handelson Three";
  src: local('Handelson Three'), url('../assets/fonts/zhandelson-three.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Genty Sans";
  src: local('Genty Sans'), url('../assets/fonts/genty-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Edwardian Script ITC";
  src: local('Edwardian Script ITC'), url('../assets/fonts/edwardianscriptitc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Brittany Signature";
  src: local('Brittany Signature'), url('../assets/fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Bodoni Moda Italic";
  src: local('Bodoni Moda Italic'), url('../assets/fonts/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Bodoni Moda";
  src: local('Bodoni Moda'), url('../assets/fonts/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Inter Italic";
  src: local('Inter Italic'), url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Inter";
  src: local('Inter'), url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Instrument Sans Italic";
  src: local('Instrument Sans Italic'), url('../assets/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Instrument Sans";
  src: local('Instrument Sans'), url('../assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Prata Regular";
  src: local('Prata Regular'), url('../assets/fonts/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}