@font-face {
  font-family: "Boheme-Floral";
  src: local('Boheme-Floral'), url('../assets/fonts/Boheme-Floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Southland";
  src: local('Boheme-Southland'), url('../assets/fonts/Southland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gistesy";
  src: local('Gistesy'), url('../assets/fonts/Gistesy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EyesomeScript";
  src: local('Eyesome Script'), url('../assets/fonts/Eyesome Script.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: local('FSP DEMO - The Seasons'), url('../assets/fonts/The-Seasons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}