:root {
  --mui-palette-primary-main: #555555;
  --bs-primary-rgb:255,255,255;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.slide-img{
  height: calc(100vh - 50px);
}

@media (max-width: 767.98px) {
  .slide-img {
    width: calc(100vw - 50px);
    height: auto;
  }
  .logo-home{
    height: 70px!important;
  }
}
.cinzel-400{
  font-family:"Cinzel", serif!important;
  font-weight: 400!important;
}
.cinzel-700{
  font-family:"Cinzel", serif!important;
  font-weight: 700!important;
}
.alex-brush-regular {
  font-family: "Alex Brush", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif!important;
  font-weight: 400!important;
  font-style: italic!important;
}
.great-vibes-regular {
  font-family: "Great Vibes", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.montserrat-400 {
  font-family: "Montserrat", serif!important;
  font-optical-sizing: auto!important;
  font-style: normal!important;
}

.pt-serif-caption-regular {
  font-family: "PT Serif Caption", serif!important;
  font-style: normal!important;
}

.to-upper {
  text-transform: uppercase;
}


.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", serif!important;
  font-weight: 400!important;
  font-style: italic!important;
}
.parisienne-regular {
  font-family: "Parisienne", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.pinyon-script-regular {
  font-family: "Pinyon Script", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.playfair-display-400 {
  font-family: "Playfair Display", serif!important;
  font-optical-sizing: auto!important;
  font-weight: 400!important;
  font-style: normal!important;
}
.tangerine-regular {
  font-family: "Tangerine", serif!important;
  font-weight: 400!important;
  font-style: normal!important;
}

.tangerine-bold {
  font-family: "Tangerine", serif!important;
  font-weight: 700!important;
  font-style: normal!important;
}
.boheme-floral {
  font-family: "Boheme-Floral"!important;;
  font-style: normal!important;
}
.southland {
  font-family: "Southland"!important;;
  font-style: normal!important;
}
.gistesy {
  font-family: "Gistesy"!important;
  font-style: normal!important;
}
.eyesome {
  font-family: "EyesomeScript"!important;
  font-style: normal!important;
}
.d-flex{
  display: flex!important;
}
.justify-center{
  justify-content: center!important;
}
.justify-items-center{
  justify-items: center!important;
}
.align-items{
  align-items: center!important;
}
.overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
.logo-home{
  height:150px;
}
.h-100{
  height: 100vh;
}

.noto-serif-display-400{
  font-family: "Noto Serif Display", serif!important;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-rose-gold{
  background-image: linear-gradient(
 to right,
 #B86b77 0,
        #eabfb9 22%, 
 #f6cfca 45%,
 #ffe8e5 50%,
 #f6cfca 55%,
 #eabfb9 78%,
 #B86b77 100% )!important;
  color:transparent!important;
  -webkit-background-clip:text;

}

.text-silver {
  background-image: linear-gradient(
    45deg,
    #a7a7a7 0%,
    #c4c3c3 20%,
    #e3e4e5  40%,
    #c7c5c5 50%,
    #e3e4e5  60%,
    #c4c3c3 80%,
    #a7a7a7 100%
  )!important;
  color: transparent!important;
  -webkit-background-clip: text;
}

.btn-gold {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: rgb(121, 103, 3);
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    /*** full width block ***/
    /* width: 100%; */
}


.btn-gold:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}

.btn-gold:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
}

.btn-silver {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(
        to right,
        #a7a7a7,
        #f0f0f0,
        #c0c0c0,
        #e8e8e8,
        #8d8d8d
    );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-size: 200% 200%;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hover con animación de reflejo */
.btn-silver:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}

/* Estado disabled */
.btn-silver:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
}

